@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}


body {
  background: #2c2c2c;
  color: #e5e7eb;
}

/* For Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* keep your existing width */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2c2c2c; /* scrollbar background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3c3c3c; /* thumb color */
}

/* Optional: Firefox */
.custom-scrollbar {
    scrollbar-color: #3c3c3c #2c2c2c; /* thumb track */
}

