@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}


body {
  background: #111827;
  color: #e5e7eb;
}

body.light {
  background: white;
  color: #111827;
}

/* For Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* keep your existing width */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2c2c2c; /* scrollbar background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3c3c3c; /* thumb color */
}

/* Optional: Firefox */
.custom-scrollbar {
    scrollbar-color: #3c3c3c #2c2c2c; /* thumb track */
}

/* Light mode scrollbar */
.custom-scrollbar-light::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar-light::-webkit-scrollbar-track {
    background: white; /* scrollbar background */
}

.custom-scrollbar-light::-webkit-scrollbar-thumb {
    background: #2c2c2c; /* thumb color */
}

.custom-scrollbar-light {
    scrollbar-color: #2c2c2c white; /* thumb track */
}

/* Sidebar scrollbar styles */
.sidebar-scroll::-webkit-scrollbar {
  background: #111827;
  width: 10px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #959595;
  border-radius: 4px;
}

